body {
   background-color:white
}
.header { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(69, 10, 69);
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid black;
}

.rodape {
    font-family: 'helvetica';
    border-top: 2px black;
    size: 15px;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    color: white;
    transition: 0.5s;
}

.rodape:hover{
    text-shadow: 2px 2px 2px black;
    color: rgb(198, 198, 198);
    transition: 0.5s;
}

#nome {
    
    background-color:rgb(69, 10, 69) ;
    color:rgb(255, 187, 0);
    border-radius: 5px;
    padding: 5px;
    transition: 0.5s;
    font-family: helvetica;

}

#nome:hover {
transition: 0.5s;   
color:rgb(165, 121, 0) ;
}

.seletor-viagem{
    display: flex;
    align-items:center;
    justify-content: space-evenly

}

#ida-volta {
    font-family: 'helvetica';
    background-color:rgb(69, 10, 69);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid black;
    color: rgb(255, 255, 255)
}
#localidade{
    font-family: 'helvetica';
    background-color:rgb(69, 10, 69);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;  
    border: 2px solid black;
    color: rgb(255, 255, 255)
}
#seletor-ida-volta{ 
    font-weight: bold;
    background-color: rgb(182, 103, 231);
    font-family: 'helvetica';
    padding: 3px;
    border-radius: 5px;
    font-weight: bold;  
    box-shadow: 2px 2px 2px rgb(21, 66, 66);
    color: black;
}

#local{
border: 2px 2px 2px solid black;
background-color: ;
}