body {
   background-color: white
}
.header { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:#001d2b;
    border-radius: 5px;
    text-decoration: none;
    border: 5px solid black;
    color:#c39956;
    margin: 20px;
}

.logo-hotel{
    width: 220px;
    border-radius: 5px;
    padding: 10px ;
}
.logo-hotel:hover{
    cursor:pointer
}

.rodape {
    font-family: 'helvetica';
    border-top: 2px black;
    font-size: 25px;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    color: #c39956;
    transition: 0.5s;
}

.rodape:hover{
    text-shadow: 2px 2px 2px black;
    color: rgb(198, 198, 198);
    transition: 0.5s;
}

.seletor-viagem{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

#ida-volta {
    font-family: 'helvetica';
    background-color:#001d2b;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid black;
    color: #c39956;
    font-size: 25px;
}
#localidade{
    font-family: 'helvetica';
    background-color:#001d2b;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;  
    border: 2px solid black;
    color:  #c39956;
    font-size:25px;
}
#seletor-ida-volta{ 
    font-weight: bold;
    background-color: #001d2b;
    font-family: 'helvetica';
    padding: 3px;
    border-radius: 5px;  
    box-shadow: 2px 2px 2px rgb(21, 66, 66);
    color:#c39956;
    border: 2px 2px 2px solid white;
    size: 25px;

}

#local{
border: 2px 2px 2px solid black;
background-color: ;
}

.texto1{
    background-color: #001d2b;
    border-radius: 5px;
    border: 5px solid black;
    margin: 20px;
}

.mulher{
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto; 
    display: block;
   padding-bottom: 20px ;
}

.mulher{
    cursor: pointer;
}

.textodescrito{
    color: #c39956;
    font-size: 30px;
    font-family: helvetica;
    text-shadow: 2px 2px 2px black;
    padding: 10px;
}

.texto2{
    background-color: #001d2b;
    border-radius: 5px;
    border: 5px solid black;
    margin: 20px;
}

.hoteis{
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto; 
    display:inline-block;
   padding-bottom: 20px ;
   block-size: 550px; 
}

.hoteis:hover{
    cursor: pointer;
}

.hotel:hover{
    text
}
